<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ticket Generado</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}?v={{ cache_buster }}">
</head>
<body>
  <div class="container">
    <header class="top-header">
      <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo Institución 1">
      <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo Institución 2">
    </header>

    <h1>🎉 Ticket Generado con Éxito</h1>

    <div id="ticketInfo" style="border: 1px dashed #ccc; padding: 25px; border-radius: var(--radius); background: #f9f9f9;">
      <h3>Información de tu Turno</h3>

      <p style="font-size: 1.5rem; font-weight: 600;"><strong>Turno (Folio):</strong> <span style="color: var(--primary-color);">{{ turno.numero_turno }}</span></p>

      <hr style="margin: 20px 0;">
      <p style="font-size: 1.2rem;"><strong>Fecha de la Cita:</strong> <span>{{ turno.fecha_solicitud.strftime('%Y-%m-%d') }}</span></p>
      <p style="font-size: 1.2rem;"><strong>Hora de la Cita:</strong> <span>{{ turno.hora_solicitud.strftime('%I:%M %p') }}</span></p>
      <hr style="margin: 20px 0;">
      <p><strong>Nombre del Tramitante:</strong> <span>{{ solicitante.nombre_tramitante }}</span></p>
      <p><strong>CURP del Alumno:</strong> <span>{{ solicitante.curp }}</span></p>

      <hr style="margin: 20px 0;">

      <p><strong>Nivel:</strong> <span>{{ turno.nivel.nivel }}</span></p>
      <p><strong>Asunto:</strong> <span>{{ turno.asunto.descripcion }}</span></p>
      <p><strong>Oficina:</strong> <span>{{ turno.oficina.oficina }}</span></p>
    </div>

    <div class="form-actions">
      <a href="{{ url_for('generar_pdf', id_turno=turno.id_turno, curp=solicitante.curp) }}"
         class="button-link btn-success"
         target="_blank"
         rel="noopener noreferrer">
         Descargar Comprobante (PDF)
      </a>
    </div>

    <div class="form-actions" style="margin-top: 10px;">
        <button type="button" class="btn-secondary" onclick="window.location.href='{{ url_for('root') }}'">Volver al Inicio</button>
    </div>
  </div>
</body>
</html>