{% extends "base_admin.html" %}

{% block title %}Editar Municipio{% endblock %}

{% block content %}
  <div class="admin-nav">
    <h1>Editar Municipio</h1>
  </div>

  <form id="formEditar" method="POST" action="{{ url_for('admin_municipios_editar_post') }}" style="margin-top: 20px;">

    <input type="hidden" name="id_municipio" value="{{ municipio.id_municipio }}">

    <div class="form-group">
      <div class="form-field">
        <label for="nombre">Nombre del Municipio:</label>
        <input type="text" id="nombre" name="nombre" class="text-box"
               value="{{ municipio.municipio }}" required>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit">Guardar Cambios</button>
    </div>
    <div class="form-actions">
      <button type="button" class="btn-secondary"
              onclick="window.location.href='{{ url_for('admin_municipios_get') }}'">
        Cancelar
      </button>
    </div>
  </form>
{% endblock %}